/* using id selector to be specific to this input */
#select-button {
  all: unset;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  text-align: left;
  height: 28px;
  margin-top: 12px;
  width: 75%;
}

.icon {
  padding-right: 4px;
  padding-left: 16px;
  float: right;
}
.drop-down-text {
  padding-left: 8px;
}
.drop-down-container {
  position: relative;
}
.drop-down-list {
  list-style: none;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-top: 0;
  width: 75%;
}
.drop-down-list > li {
  padding-left: 8px;
  border-bottom: 1px solid #d3d3d3;
  height: 24px;
  cursor: pointer;
}
.drop-down-list > li:hover {
  background-color: #eeeeee;
}
