.dashboard-container {
  display: grid;
  border-radius: 5px;
  grid-template-rows: 0.5fr 4fr 4fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  width: 60%;
}

.dropdown-container {
  grid-column: 1 / span 2;
}
.table-container {
  grid-column: 1 / span 2;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.error-msg {
  color: red;
}
